#reg {
    display:flex;
    justify-content:center;
}
#login {
    display: flex;
    justify-content: center;
}

#loginform{
    border: 2px solid green;
}

#registerform {
    margin-top: 20px;
    border:2px solid black;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

