main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


main div#buttons-wrapper{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main div#logo-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main div#logo-wrapper img{
   width: 350px;
   padding: 30px;
}


main div#buttons-wrapper #login-button{
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main div#buttons-wrapper #login-button:hover {
   transform: scale(1.5) perspective(1px)
}

main div#buttons-wrapper #register-button{
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main div#buttons-wrapper #register-button:hover{
   transform: scale(1.5) perspective(1px)
}
main div#buttons-wrapper h3#question {
   font-family: 'Gloria Hallelujah', cursive;
   font-size: 30px;
}

div.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form#login-form {
   display: flex;
   flex-direction: column;
   margin: 10px;
}

form input.passStyle {
   margin-top: 10px;
   margin-bottom: 10px;

}

h3#signin-title {
   font-family: 'Gloria Hallelujah', cursive;
}

h4#are-you-new {
   font-family: 'Gloria Hallelujah', cursive;
}

main div.card .back-button{
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main div.card .back-button:hover {
   transform: scale(1.5) perspective(1px)
}

main div.card .submit-button {
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main div.card .submit-button {
   transform: scale(1.5) perspective(1px)
}

















main h3#signin-title {

}

main button#register-buttton {
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main button#register-buttton:hover {
   transform: scale(1.5) perspective(1px)
}












main h3 #signin-title {
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main h3 #signin-title:hover {
   transform: scale(1.5) perspective(1px)
}

main button #register-button {
   color: green;
   border-radius: 90%;
   padding: 10px;
}

main button #register-button:hover {
   transform: scale(1.5) perspective(1px)
}
